    body {
        font-family: 'Noto Sans KR', sans-serif;
        background-color: rgb(5, 26, 43);
        color: white; 
        overflow-x: hidden;
        overflow-y: auto;
    }
    #title {
        text-align: center;
        margin-top: -10px;
        margin-left: -10px;
        margin-right: -10px;
    }
    #content {
        background-color: rgb(63, 69, 122);
        margin-top: -20px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px 20px 10px 20px;
    }